.container {
    background: linear-gradient(180deg, #111132, #0c0c1d);
}

.portfolio {
    position : relative;
    background: linear-gradient(180deg, #111132, #0c0c1d);
    .progress {
        position: sticky !important;
        top: 0;
        left: 0;
        /* padding-top: 50px; */
        text-align: center;
        color: orange;
        font-size: 36px;
        font-weight: bold;
        .progress-bar {
            height: 10px;
            background-color: white;
            border-radius: 10px;
        }
    }
}
.wrapper{
    gap: 50px;
}