@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
section {
  height: 100vh;
  scroll-snap-align: center;
}

.section-1 {
  background-image: url('/public/black-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}